footer td{
  color: white;
  padding: 1vw;
  font-size: 1.5vh;
  margin: 0 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

footer {
  display: table-row;
  height: 0;
}
