#santamap { height: 70vh; width:70vw; z-index: 0; }

.SantaTest {
background-image: url('../photos/present.gif');
background-size: cover;
width: 8vh;
height: 4.5vw;
cursor: pointer;
}

.mapboxgl-popup {
  max-width: 15vw;
}

.mapboxgl-popup-content {
  background-color: red;
  color: white;
  text-align: center;
  font-family: 'Raleway';
}