body {
  background: rgb(4, 5, 17);
}

#santamap { height: 85vh; width:98vw; z-index: 0; }

.SantaTest {
background-image: url('../photos/present.gif');
background-size: cover;
width: 3.375vmax;
height: 6vmin;
cursor: pointer;
}

.mapboxgl-popup {
  max-width: 15vw;
}

.mapboxgl-popup-content {
  background-color: red;
  color: white;
  text-align: center;
  font-family: 'Raleway';
}

.SantaTest2 {
background-image: url('../photos/santa.gif');
background-size: cover;
width: 8vmax;
height: 12vmin;
cursor: pointer;
}

.SantaTest3 {
background-image: url('../photos/star.gif');
background-size: cover;
width: 0.45vmax;
height: 0.8vmin;
}

.SantaTest4 {
background-image: url('../photos/bomb.gif');
background-size: cover;
width: 3vmax;
height: 6vmin;
cursor: pointer;
}

#iter {
  font-size: 1.6em;
  font-family: "Hammersmith One";
  color: white;
  text-decoration: underline double red;
}