#santamap { height: 70vh; width:90vw; z-index: 0; }

.SantaTest {
background-image: url('../photos/present.gif');
background-size: cover;
width: 4.5vmax;
height: 8vmin;
cursor: pointer;
}

.mapboxgl-popup {
  max-width: 15vw;
}

.mapboxgl-popup-content {
  background-color: red;
  color: white;
  text-align: center;
  font-family: 'Raleway';
}

.SantaTest2 {
background-image: url('../photos/santa.gif');
background-size: cover;
width: 8vmax;
height: 12vmin;
cursor: pointer;
}

.SantaTest3 {
background-image: url('../photos/star.gif');
background-size: cover;
width: 0.45vmax;
height: 0.8vmin;
}
