#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  width:100%;
  height:100%;
  z-index: 200;
}

.snowflake {
  position: fixed;
  background-color: #FFFFFF;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

body {
  background-color: grey;
}