.center {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Raleway;
  width: 100%;
  text-align: center;
  z-index: 4;
}

h1, h2, h3, h4, h5, blockquote {
  font-family: "Hammersmith One";
}

a.hyp {
  border-bottom-style: solid;
  border-color: rgba(105, 254, 50, 0.5);
  color: rgb(42, 55, 69);
  font-style: italic;
}

.intro {
  margin: 2vh 1vw;
  padding: 0.1vh 0.5vw;
  font-family: Raleway;
  color: (51, 38, 31);
  background-color: rgba(255, 255, 255, 0.7);
}  

table th, td,
p {
  font-family: Raleway;
  color: rgb(42, 55, 69);
  font-size: 1.35em;
  line-height: 130%;
}

strong {
  color: rgba(105,254,50,1); 
}

th,td {
  padding: 15px;
  text-align: center;
}

#center {
  text-align: center;
}

.right {
  width: 50%;
  float: right;
}

#hidden {
  visibility: hidden;
}

#hide {
  display: none;
}

ol, ul {
  font-family: Raleway;
  font-size: 1.3em;
  line-height: 200%;
  color: rgb(42, 55, 69);
}

ol ul {
  font-size: 1em;
}

#more, #tubemore, #dlrmore, #orangemore, #purpmore, #trammore, #ikeamore, #chockmore, #steammore, #bethmore, #cnmore {
  display: none;
}

#more tr td:nth-child(1), #more th:nth-child(1), #more tr td:nth-child(4), #more th:nth-child(4), #tubemore tr td:nth-child(1), #tubemore th:nth-child(1), 
#dlrmore tr td:nth-child(1), #dlrmore th:nth-child(1), #dlrmore tr td:nth-child(5), #dlrmore th:nth-child(5), #orangemore tr td:nth-child(1), #orangemore th:nth-child(1), 
#purpmore tr td:nth-child(1), #purpmore th:nth-child(1), #purpmore tr td:nth-child(5), #purpmore th:nth-child(5), #trammore tr td:nth-child(1), #trammore th:nth-child(1), 
#trammore tr td:nth-child(5), #trammore th:nth-child(5), #metromore tr td:nth-child(1), #metromore th:nth-child(1), #cnmore tr td:nth-child(1), #cnmore th:nth-child(1) {
  display: none !important;
  visibility: hidden !important;
}

button {
  background-color: rgba(105,254,50,1); 
  border: none;
  color: rgb(42, 55, 69);
  text-align: center;
  font-family: "Hammersmith One";
  font-size: 1.5em;
  width: 100%;
  padding: 1% 0;
}

button.complete {
  background-color: red; 
  color: white;
}

.preview-frame {
  float: left;
  height: 440px;
  width: 50%;
  border-width: 0;
}

canvas {
  display: block;
}
 
.newP {
  width: 100%;
}
 
.proj {
  color: green;
}

.nobullet {
  background-color: rgba(105,254,50,1); 
}

h6 {
  color: rgba(112,128,144, 0.8);
  font-family: Raleway;
}

#project {
  background-color: rgba(105,254,50,0.4); 
}

.spacing {
  padding: 3vh 0 0 0;
}

.text {
  background-color: white;
  padding: 1vh 1vw;

}

.ParallaxVideo{ 
    height: 300px;
    padding-bottom: 50px;
    padding-top: 50px; 
}
.ParallaxVideo video{ 
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: -999;
}
.ParallaxVideo img{ 
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: -999;
}
.ParallaxVideo h1 {
  color: #fff;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #55c8c3;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

#Flag, #Mango, #Gadaffi {
  display:none;
  visibility: hidden;
}

#box20 {
  width: 20%;
  clear: right;
  float: right;
}

#box25 {
  width: 24%;
  clear: left;
  float: left;
  padding-right: 1%;
}

#box35 {
  width: 35%;
  clear: right;
  float: right;
}

#box55 {
  width: 55%;
  clear: none;
  float: left;
}

#box80 {
  width: 80%;
  clear: left;
  float: left;
}

#box100 {
  width: 100%;
  clear: both;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}