body {
  background-color: rgba(51,49,51, 0.3);
  font-family: Raleway;
}

.center {
  width: 100%;
  text-align: center;
  z-index: 4;
  padding: 15vh 0;
  font-size: 7vh;
  opacity: 0.8;
}

a.hyp {
  border-bottom-style: solid;
  border-color: rgba(105, 254, 50, 0.5);
  color: rgb(42, 55, 69);
}
a.hypf {
  border-bottom-style: solid;
  border-color: rgba(105, 254, 50, 0.5);
  color: rgb(255, 255, 255);
}
a.hypn {
  border-color: rgba(105, 254, 50, 0.1);
  border-bottom-style: solid;
  color: rgb(255, 255, 255);
}
a.hypn:hover {
  border-color: rgba(105, 254, 50, 0.5);
}

#intro {
  display: block;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 50%;
  color(51, 38, 31);
}  

table th, td,
p {
  color: rgb(42, 55, 69);
  font-size: 1.5em;
}

strong {
  color: rgba(105,254,50,1); 
}

th,td {
  padding 30px 0px;
  margin 30px 0;
  padding: 15px;
  text-align: left;
}

#center {
  text-align: center;
}

.right {
  float: right;
}

#hidden {
  visibility: hidden;
}

.100 {
  width: 100%;
}

.float {
  float: left;
  margin: 1vh 1vw;
}

footer{
  background-color: black;
}

footer table{
  margin: 0 0;
}

.badge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding: 1vh 0;
}

.over {
  overflow-x: auto;
}