.body{
  background-color: grey;
  z-index: -1;
}

.timeline .timeline-item::after, .timeline .timeline-item::before {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}

.timeline {
  margin: 30px auto;
  padding: 0 10px;
  position: relative;
  transition: all 0.5s ease-in;
  width: 100%;
  z-index: -1;
}

.timeline::before {
  background-color: white;
  content: '';
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 0px;
  border-style: dotted;
  border-left-color: black;
  border-right-color: black;
  border-left-width: 2.5px;
  border-right-width: 2.5px;
  outline-style: solid;
  outline-color: black;
  outline-width: 2px;
}

.timeline::after {
  clear: both;
  content: '';
  display: table;
  width: 100%;
}

.timeline a {
  color: black;
  font-weight: bold;
  transition: all 0.25s ease-in;
}

.timeline a:hover {
  box-shadow: 0 1px 0px 0px #fefefe;
  transition: all 0.5s ease-in;
}

.timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

.timeline .timeline-item .timeline-icon-alpha, 
.timeline .timeline-item .timeline-icon-beta, 
.timeline .timeline-item .timeline-icon-sampi, 
.timeline .timeline-item .timeline-icon-koppa,
.timeline .timeline-item .timeline-icon-r0,
.timeline .timeline-item .timeline-icon-digamma,
.timeline .timeline-item .timeline-icon-xi {
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin-left: -23px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50px;
  z-index: 1;
}

.timeline .timeline-item .timeline-icon-alpha {
  background-color: #19095e;
}

.timeline .timeline-item .timeline-icon-beta {
  background-color: #ffc10f;
}

.timeline .timeline-item .timeline-icon-sampi {
  background-color: #55c8c3;
}

.timeline .timeline-item .timeline-icon-koppa {
  background-color: #dc241f;
}

.timeline .timeline-item .timeline-icon-r0 {
  background-color: #8010cf;
}

.timeline .timeline-item .timeline-icon-digamma {
  background-color: #014702;
}

.timeline .timeline-item .timeline-icon-xi {
  background-color: #ff7b00;
}

.timeline .timeline-item .timeline-icon-aleph {
  background-color: black;
  border-radius: 50%;
  height: 30px;
  left: 50%;
  margin-left: -13px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 30px;
  z-index: 1;
}

.timeline .timeline-item .timeline-icon img,
.timeline .timeline-item .timeline-icon svg {
  left: 14px;
  position: relative;
  top: 11px;
}

.timeline .timeline-item .timeline-icon svg {
  top: 14px;
}

.timeline .timeline-item .timeline-content{
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
  transition: all 0.25s ease-in;
  width: 45%;
  background: transparent;
}

.timeline .timeline-item .timeline-content p {
  font-family: Raleway;
  color: rgb(42, 55, 69);
  font-size: 1.2em;
  line-height: 130%;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
  font-family: Raleway;
  color: rgb(42, 55, 69);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-month {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
  float: right;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  .timeline::before {
    left: 0;
  }
  .timeline .timeline-item .timeline-content {
    float: right;
    text-align: left;
    width: 90%;
  }
  .timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
    border-left: 0;
    border-right: 7px solid #fefefe;
    left: 10%;
    margin-left: -6px;
  }
  .timeline .timeline-item .timeline-icon {
    left: 0; 
  }
  .timeline-content{
    left: 25%;
  }
}

